* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --softRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
.container {
  display: flex;
  flex-direction: column;
}
.pageHead {
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    z-index: 6;
    position: absolute;
    padding: 20px;
    .menu {
      display: none;
    }
  }
  .header {
    margin-bottom: 0;
  }
  .creatives {
    z-index: 6;
    position: absolute;
    top: 10rem;
    right: 0.5px;
    h1 {
      text-align: center;
      font-size: 40px;
      color: var(--white);
      text-transform: uppercase;
      font-family: "Fraunces", serif;
      font-weight: 900;
      font-style: normal;
      letter-spacing: 5px;
    }
  }
  .headerImage {
    width: 100%;
    z-index: 1;
    position: relative;
  }
  .arrow {
    z-index: 6;
    position: absolute;
    top: 19rem;
    left: 11.5rem;
  }
}
.pageMiddle img {
  width: 100%;
}
.pageMiddle {
  .texts {
    padding: 50px;
    text-align: center;
    h2 {
      font-family: "Fraunces", serif;
      font-weight: 900;
      font-size: 35px;
      letter-spacing: 2px;
      margin: 20px 0;
    }
    p {
      font-family: "Barlow", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 30px;
    }
    button {
      text-transform: uppercase;
      font-family: "Fraunces", serif;
      font-weight: 900;
      font-size: 15px;
      letter-spacing: 2px;
    }
  }

  /* .graphicDesign {
    .graphicDesign img {
      z-index: 1;
      position: relative;
    }
    .text {
      z-index: 6;
      position: absolute;
      top: 30rem;
    }
  } */

  /* .fruit {
    z-index: 1;
    position: relative;
  }
  .text {
    z-index: 6;
    position: absolute;
  } */
}
